@{
    ViewData["Title"] = "Employee Home Page";
}

 <div class="position-absolute top-50 start-50 translate-middle">
    <form action="/Employee/PostEmployee" method="post" >
        <div class="form-group">
          <input type="text" class="form-control" id="FirstName" aria-describedby="emailHelp" name="FirstName" placeholder="Enter First Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="Mobile" name="Mobile" placeholder="Mobile Number">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp" placeholder="Enter Email Address">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Address_1" name="Address_1"  placeholder="Enter Address1">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Address_2" name="Address_2"  placeholder="Enter Address2">
       
        </div>
        <div class="form-group mt-3">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <label for="city">City </label>
                <input type="text" class="form-control" name="City" id="city" placeholder="City" />
            </div>
            <div class="col-lg-4 col-sm-12">
                <label for="postal">Postal </label>
                <input type="number" class="form-control" name="Postal" id="postal" placeholder="Postal"/>
            </div>
            <div class="col-lg-4 col-sm-12">
                <label for="country">Country </label>
                <input type="text"  class="form-control" name="Country" id="country" placeholder="Country" />
            </div>
        </div>
        </div>
        <div class="d-grid gap-2">
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
      </div>
    </form>
</div>
